body {
      font-family: 'Times New Roman', Times, serif,;
      background: skyblue;
      text-align: center;
      padding: 30px;

    }

    .header h1 {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 0;
    border-radius: 20px ;

    }

    h1 {
    text-align: left;
    margin-left: 40px; 

    }

    h1 i {
    color: #007bff;      
    margin-right: 10px;   
    font-size: 1.2em;  
       
    }



    .product-box {
      display: inline-block;
      width: 260px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      margin: 15px;
      padding: 15px;
      text-align: center;
      transition: all 0.3s ease;
      vertical-align: top;
    }

    .product-box:hover {
      outline: 3px solid #007bff;
      outline-offset: 5px;
    }

    .product-box h2 {
      font-size: 20px;
      color: #333;
      margin-bottom: 10px;
      padding: 10px 0;
      background-color: rgba(68, 157, 202, 0.703);
      border-radius: 13px;
     
    }

    .product-box img {
      width: 160px;
      height: 140px;
      object-fit: contain;
      margin-bottom: 10px;
    }

    .product-box p {
      font-size: 16px;
      color: #555;
      margin: 8px 0;
    }

    .price {
      font-size: 16px;
      color: #008000;
      font-weight: bold;
      margin: 10px 0;
    }

    .buy-btn {
      display: inline-block;
      background: #007bff;
      color: white;
      text-decoration: none;
      padding: 8px 14px;
      border-radius: 6px;
      font-weight: bold;
      transition: background 0.3s;
    }

    .buy-btn:hover {
      background: #005fcc;
      
    }

    .header1 button{
      padding: 15px 60px ;
      font-size: large;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px ;
      width: 100px;
      height: 40px;
      margin: 0 auto;
    }